<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <title>YouTube to Text converter</title>
</head>
<body>
    <div class="top-container">
        <form action="convert-text" method="POST" id="form">
        <h1><i class="fab fa-youtube"></i>YouTube to text converter</h1>
        <h4>Please insert the YouTube video URL</h4>
        <div>
            <input type="text" name="videoURL" placeholder="Enter video URL"><button id="convert-btn">Convert</button> 
        </div>
        </form> 
    </div>
    <!-- We can add a bottom container div that does some error checking for us. -->
</body>
</html>